---
import aboutUs from "@/assets/aboutUs.png";
---

<section class="bg-cream pt-40 mt-40 lg:px-[10%]" id="sobre-nos">
  <div class="max-w-5xl m-auto flex md:flex-col-reverse md:items-center gap-16">
    <img src={aboutUs.src} alt="" class="w-64 lg:w-52" />
    <div class="flex flex-col gap-6">
      <h2 class="text-[40px] tracking-[-2px] font-medium leading-none">Sobre nós</h2>
      <p class="text-justify text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, atque rerum voluptatum omnis dignissimos unde nostrum sequi temporibus explicabo labore. Quaerat temporibus mollitia nemo.
        Dolorem itaque accusamus dolor. Temporibus, aperiam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero quia exercitationem consectetur.
      </p>
    </div>
  </div>
</section>
