---
import aboutUs from "@/assets/aboutUs.png";
import { Image } from "astro:assets";
---

<section class="pt-40" id="sobre-nos">
  <div class="bg-cream pt-20 lg:px-[10%]">
    <div class="max-w-5xl m-auto flex items-center gap-20 lg:flex-col lg:items-center lg:gap-0">
      <div class="flex flex-col gap-6 mb-20 lg:mb-12">
        <h2 class="text-[40px] tracking-[-2px] font-medium leading-none">Sobre nós</h2>
        <p class="text-justify text-pretty">
          Nossa missão é ajudar negócios como o seu a escalar operações de vendas e atendimento no WhatsApp. Não é só sobre apenas entregar um chip aquecido, estamos juntos com você pra fazer sua
          operação escalar. Com a nossa ajuda, sua operação vai ter o cuidado que merece, e com isso, se destacar. Sinta a diferença de uma empresa que realmente se importa com o seu sucesso!
        </p>
      </div>
      <Image src={aboutUs} alt="bart detetive segurando uma lupa" class="w-64 lg:w-56 xmd:w-48 pointer-events-none" loading="lazy" />
    </div>
  </div>
</section>
