---
import { CommonQuestions } from "../ui/CommonQuestions";
---

<section class="px-[10%] mb-36">
  <div class="max-w-4xl m-auto my-16">
    <h2 class="text-[46px] tracking-[-2px] font-medium text-center leading-none mb-20">Perguntas frequentes</h2>
    <CommonQuestions
      client:load
      title="Como é feito o aquecimento do chip?"
      text="Todos os nossos chips são aquecidos cuidadosamente por especialistas em contingência, utilizando um método completamente manual e eficiente, garantindo a máxima performance e durabilidade."
    />

    <CommonQuestions
      client:load
      title="Comprei o chip oque faço agora?"
      text="Após a confirmação da compra, entraremos em contato para realizar a transferência do chip, fornecendo toda a assistência necessária. Além disso, você receberá um material de apoio exclusivo para melhor aproveitamento da sua contingência e evitar banimentos."
    />

    <CommonQuestions
      client:load
      title="O que é o grupo de acompanhamento?"
      text="É um grupo que disponibilizamos aos nossos clientes de forma individual junto aos nossos especialistas em contingência. Para oferecer um suporte personalizado para sua estrutura, esclarecer dúvidas e auxiliar no melhor aproveitamento da sua contingência."
    />
  </div>
</section>
