---
import { CommonQuestions } from "../ui/CommonQuestions";
---

<section class="px-[10%] mb-36">
  <div class="max-w-4xl m-auto my-16">
    <h2 class="text-[46px] tracking-[-2px] font-medium text-center leading-none mb-20">Perguntas frequentes</h2>
    <CommonQuestions
      client:load
      title="Como é feito o aquecimento do chip?"
      text="Todos os nossos chips são cuidadosamente aquecidos por especialistas em contingência altamente qualificados, que empregam um método completamente manual e eficiente, garantindo a máxima performance e confiabilidade."
    />

    <CommonQuestions
      client:load
      title="Comprei o chip oque faço agora?"
      text="Após a confirmação da compra, entraremos em contato para agendar a ativação do chip em até 1 dia útil, fornecendo assistência necessária. Além disso, você receberá um PDF exclusivo elaborado por nossos especialistas em contingência."
    />

    <CommonQuestions
      client:load
      title="O que fazer caso meu chip cair?"
      text="Você contará com nosso contato via WhatsApp para estabelecer comunicação. Inicialmente, envidaremos todos os esforços para recuperar seu chip. Em caso de falha, você terá direito a um chip substituto (prazo para reembolso 7 dias)."
    />

    <CommonQuestions
      client:load
      title="O que é o grupo de acompanhamento?"
      text="O grupo de acompanhamento é uma atendimento personalizado que disponibilizamos aos nossos clientes, com o intuito de oferecer suporte para esclarecimento de dúvidas relacionadas ao chip."
    />
  </div>
</section>
