---
import bartFirst from "@/assets/bartCTA1.png";
import bartSecund from "@/assets/BartCTA2.png";
import { Image } from "astro:assets";
---

<section class="bg-black text-white pt-52">
  <div class="max-w-5xl m-auto flex flex-col items-center gap-10 relative">
    <div class="flex flex-col text-[80px] xlg:text-[60px] md:text-[40px] font-semibold text-center tracking-tighter leading-none sm:px-[5%]">
      <h2>Livre-se de mistérios.</h2>
      <h2 class="text-graySecundary">Escale sua operação.</h2>
    </div>
    <p class="text-cram font-medium text-2xl sm:text-lg">Seu parceiro de crescimento</p>

    <!-- <p class="golden-text rounded-lg">Pista de ouro</p> -->

    <div class="flex flex-col text-center leading-6 out-text">
      <p>Não perca mais tempo.</p>
      <p>Tempo não tem preço.</p>
    </div>

    <div class="flex justify-between mt-52">
      <Image src={bartFirst} alt={"bart detetive com uma lupa na mão"} width={245} class="absolute bottom-0 left-0 xsm:-left-5 md:w-44 xsm:w-36 pointer-events-none" decoding="async" />
      <Image src={bartSecund} alt={"bart detetive com cara de desconfiado"} width={195} class="absolute bottom-0 right-0 md:w-36 xsm:w-28 pointer-events-none" decoding="async" />
    </div>
  </div>
</section>

<style>
  .out-text {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgb(216, 213, 213));
    background-clip: text;
    color: transparent;
  }
  .golden-text {
    padding-inline: 30px;
    padding-block: 6px;
    background-image: linear-gradient(to right, rgba(38, 34, 5, 0.3), rgba(38, 34, 5, 1));
    background-clip: padding-box;
    color: #ad9f19;
  }
</style>
