---
import CardSell from "@/components/cardSell.astro";
---

<section class="pt-40 lg:px-[15%] xmd:px-[10%]" id="planos">
  <div class="max-w-[1120px] m-auto mb-36 flex flex-col gap-7">
    <div>
      <h2 class="text-[46px] tracking-[-2px] font-medium text-center leading-none mb-20">Planos</h2>

      <div class="grid grid-cols-3 lg:grid-cols-1 grid-flow-dense gap-6">
        <CardSell
          title="Básico"
          price="119"
          description="Para você que precisa de um chip bem aquecido para começar."
          chipsList="1 chip aquecido"
          msgSend="Envie até 250 mensagens ao dia"
          msgRecived="Receba até 500 mensagens ao dia"
          guarantee="Garantia de 7 dias"
          negative={true}
          link="https://wa.me/48996130664?text=Estou%20interessado%20no%20plano%20Básico."
        />
        <CardSell
          title="Padrão"
          price="320"
          description="Perfeito para quem necessita começar a escalar sua operação. Tenha todo o suporte necessário para isso."
          chipsList="3 chips aquecidos"
          msgSend="Envie até 750 mensagens ao dia"
          msgRecived="Receba até 1500 mensagens ao dia"
          guarantee="Garantia de 7 dias"
          link="https://wa.me/48996130664?text=Estou%20interessado%20no%20plano%20Padrão."
        />
        <CardSell
          title="Premium"
          description="Tenha uma estrutura completa que aguente escalar. Conte com nossos especialistas para te auxiliar no que for necessário."
          price="599"
          chipsList="6 chips aquecidos"
          msgSend="Envie até 1500 mensagens ao dia"
          msgRecived="Receba até 3000 mensagens ao dia"
          guarantee="Garantia de 15 dias"
          link="https://wa.me/48996130664?text=Estou%20interessado%20no%20plano%20Premium."
        />
      </div>
    </div>

    <div class="bg-black p-8 rounded-xl grid grid-cols-2 items-center gap-20 lg:grid-cols-1 lg:gap-10">
      <div class="flex flex-col gap-4">
        <h2 class="text-[40px] tracking-[-2px] font-semibold leading-none sm:text-[34px] text-white">Ficou com alguma dúvida ?</h2>
        <p class="text-graySecundary max-w-[500px] font-medium leading-6">Entre em contato com nossa equipe para esclarece-la ou saber mais sobre os nossos pacotes personalizados.</p>
      </div>
      <div class="flex flex-col items-center justify-end gap-5">
        <h2 class="text-white">Entre em contato</h2>
        <a
          class="bg-white hover:bg-primary hover:text-white transition-colors duration-500 py-3 rounded-full w-2/3 lg:w-full font-semibold text-center"
          href="https://wa.me/48996130664?text=Gostaria%20de%20atendimento">WhatsApp</a
        >
      </div>
    </div>
  </div>
</section>
