---
import Layout from "../layouts/Layout.astro";
import Cta from "@/components/layout/cta.astro";
import Sec1 from "@/components/layout/sec1.astro";
import Sec2 from "@/components/layout/sec2.astro";
import AboutUs from "@/components/layout/aboutUs.astro";
import PlanesSec from "@/components/layout/planesSec.astro";
import CommonQuestionsSec from "@/components/layout/commonQuestionsSec.astro";
---

<Layout title="Zapfy">
  <main transition:animate="fade">
    <Cta />
    <section class="max-w-[1100px] m-auto pt-40 flex flex-col items-center gap-16 lg:px-[10%]">
      <Sec1 />
      <Sec2 />
    </section>

    <AboutUs />

    <PlanesSec />

    <CommonQuestionsSec />
  </main>
</Layout>
