---
interface Props {
  title: string;
  price: string;
  description: string;
  negative?: boolean;
  chipsList: string;
}

const { title, price, negative, chipsList, description } = Astro.props;
---

<div class="bg-cream p-8 flex flex-col gap-6 rounded-xl" transition:animate="initial">
  <div class="flex flex-col">
    <div class="flex flex-col mb-2">
      <p class="text-lg">Plano</p>
      <h2 class="text-3xl font-semibold">{title}</h2>
    </div>
    <p class="text-[#666666] text-sm">{description}</p>
  </div>
  <p class="text-5xl font-semibold">R$ {price}<span class="text-3xl">,00</span></p>
  <div class="flex flex-col gap-12">
    <hr class="border border-gray-300 rounded-lg" />
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="check"
        ><path
          fill="#000"
          fill-rule="evenodd"
          d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536A1 1 0 0 1 16.95 9.88l-5.653 5.653-.004.004a.997.997 0 0 1-1.414 0l-.004-.004-2.825-2.825a1 1 0 1 1 1.414-1.414l2.122 2.121 4.95-4.95Z"
          clip-rule="evenodd"></path></svg
      >
      <p class="font-semibold">{chipsList}</p>
    </div>
    <div class="flex gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="check"
        ><path
          fill="#000"
          fill-rule="evenodd"
          d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536A1 1 0 0 1 16.95 9.88l-5.653 5.653-.004.004a.997.997 0 0 1-1.414 0l-.004-.004-2.825-2.825a1 1 0 1 1 1.414-1.414l2.122 2.121 4.95-4.95Z"
          clip-rule="evenodd"></path></svg
      >
      <p>Aquecimento de 30 dias</p>
    </div>
    <div class="flex gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="check"
        ><path
          fill="#000"
          fill-rule="evenodd"
          d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536A1 1 0 0 1 16.95 9.88l-5.653 5.653-.004.004a.997.997 0 0 1-1.414 0l-.004-.004-2.825-2.825a1 1 0 1 1 1.414-1.414l2.122 2.121 4.95-4.95Z"
          clip-rule="evenodd"></path></svg
      >
      <p>Garantia de 7 dias</p>
    </div>

    <div class="flex gap-2">
      {
        negative ? (
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="close">
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536a1 1 0 0 1 0 1.415L13.414 12l2.122 2.121a1 1 0 1 1-1.415 1.415L12 13.414l-2.121 2.122a1 1 0 1 1-1.415-1.415L10.586 12 8.464 9.879A1 1 0 1 1 9.88 8.464L12 10.586l2.121-2.122a1 1 0 0 1 1.415 0Z"
              clip-rule="evenodd"
            />
          </svg>
        ) : (
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" id="check">
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3.536-13.536A1 1 0 0 1 16.95 9.88l-5.653 5.653-.004.004a.997.997 0 0 1-1.414 0l-.004-.004-2.825-2.825a1 1 0 1 1 1.414-1.414l2.122 2.121 4.95-4.95Z"
              clip-rule="evenodd"
            />
          </svg>
        )
      }
      <p>Grupo de acompanhamento</p>
    </div>
  </div>

  <button class="bg-black py-3 rounded-full text-white w-full hover:bg-graySecundary transition-colors duration-500 mt-14">Compre agora</button>
</div>
