<footer class="bg-black py-24">
  <div class="max-w-5xl m-auto h-52">
    <h2 class="text-center text-5xl font-bold text-white">Desbloqueie o seu<br /> Potencial</h2>
    <div class="flex gap-2 text-zinc-500 text-sm font-medium">
      <a href="/politicas">politica de privacidade</a>
      <a href="https://www.instagram.com/zapfy.br">instagram</a>
    </div>
  </div>
</footer>
