---
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import { Header } from "@/components/layout/header";
import Footer from "@/components/layout/footer.astro";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/zWhite.png" />

    <title>Zapfy</title>
    <meta property="og:title" content="Zapfy" />
    <meta property="og:site_name" content="Zapfy" />

    <meta
      name="description"
      content="Zapfy oferece chips de WhatsApp aquecidos, proporcionando toda a solução para a escalabilidade da sua operação. Automatize e escale seu negócio com chips prontos para uso e suporte completo para contingências."
    />
    <meta property="og:description" content="Zapfy - Chips Aquecidos para WhatsApp. Compre chips de alta qualidade para uso profissional no WhatsApp." />
    <meta name="keywords" content="chip, chips, contingencia, contingência, chip aquecido, aquecimento, WhatsApp, banimento, banimento de WhatsApp, número aquecido, numero aquecido," />

    <meta property="og:type" content="website" />

    <meta property="og:image" content="/print-test.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="preconnect" />
    <ViewTransitions />
  </head>
  <body class="antialiased">
    <Header client:idle transition:name="header" transition:persist />
    <slot transition:animate="initial" />
    <Footer />
  </body>
</html>
